.picContainer {
  width: 100%;
  margin-top: 200px;
}
.previous,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 50px;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 50px;
}
.previous:hover,
.next:hover {
  opacity: 0.3;
}
.image {
  width: 1000px;
  height: 500px;
  border-radius: 10px;
}
.slides {
  opacity: 0;
  transition-duration: 1s ease;
}

.slides:active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
